<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        .float-message {
            position: fixed;
            top: 1%;
            width: 100%;
            z-index: 9999;
        }
        /*noinspection CssUnusedSymbol*/
        .form-group label.error {
            color: #FB3A3A;
            display: inline-block;
            text-align: right;
            width: 100%;
        }


    </style>
</head>
<body>
<ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
    {% if user.is_authenticated %}

            <li><a href="{% url 'principal:editar' idTrabajador=user.id %}" id="id_editar"><span class="glyphicon glyphicon-user"></span> Editar</a></li>
    <li>
            <a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
    {% else %}
        <li><a href="#" id="id_register"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
        <li><a href="#" id="id_login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
<div class="jumbotron" style="padding-left: 20px; height: 50%">
    <h1>Busco Ayuda</h1>
    <p>Encuentra aquí la ayuda que necesitas.</p>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} float-message">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>ERROR: </strong> {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<strong>SUCCESS: </strong> {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<strong>INFO: </strong> {% endif %}
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

</body>
</html>